# Python Stuff
__pycache__


# Vscode
.vscode
*.code-workspace

# Pycharm
.idea
last_problem.txt
statistic_average_fitness.xls
statistic_best_per_experiment.txt
statistic_best_per_experiment_fitness.xls
